<?xml version="1.0" encoding="utf-8"?>
<toolboxesConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="7.3.5610.0">
  <toolboxes>
    <toolbox name="PageLayouts">
      <sections>
        <add ordinal="1" name="TwoColumns" />
        <add enabled="True" title="Custom Layouts" description="Custom Page and Content Layouts" ordinal="0" name="MNMCustom">
          <tools>
            <add enabled="True" type="Telerik.Sitefinity.Web.UI.LayoutControl" title="Tile List" description="1 Column (col-12)" cssClass="sfL100" layoutTemplate="~/Custom/LayoutControls/TileList.ascx" visibilityMode="None" name="TileList" />
            <add enabled="True" type="Telerik.Sitefinity.Web.UI.LayoutControl" title="Tile" description="1 Column (col-12)" cssClass="sfL100" layoutTemplate="~/Custom/LayoutControls/Tile.ascx" visibilityMode="None" name="Tile" />
            <add enabled="True" type="Telerik.Sitefinity.Web.UI.LayoutControl" title="Fact Block" description="1 Column (col-12)" cssClass="sfL100" layoutTemplate="~/Custom/LayoutControls/FactBlock.ascx" visibilityMode="None" name="FactBlock" />
          </tools>
        </add>
      </sections>
    </toolbox>
  </toolboxes>
</toolboxesConfig>