body, html {
    padding:0;
    margin:0;
    border:0;
    outline:0;
}
body {
    font-size:22px;
    line-height:1.4em;
}

//Header
header {
    background: #fff;
    width: 100%;
    z-index: 8009;
    top: 0 !important;
    position: fixed !important;
    border: none;
    @include transition(all 0.3s ease);
    @include box-shadow(0 0 10px rgba(0, 0, 0, 0.3));

    + .container {
        margin-top:140px;
        padding-bottom:30px;
    }

    .logo {
        margin-top:20px;
        margin-bottom:20px;
        display: block;
        background-size: contain;
        height: auto;
        float: left;

        @media screen and (min-width:$screen-sm){
            margin-left: 20px;
        }

        &:hover {
            @media screen and (min-width:$screen-sm){
                @include filter(saturate, 130%);
            }
        }

        svg:not(root){
            max-width: 100%;
        }
    }
    nav.TopLinks {
        float:right;
        text-align:right;
        margin-top: 15px;

        @media screen and (min-width:$screen-sm){
            margin-right: 20px;
            margin-top: 25px;
        }

        ul, li {
            list-style-type:none;
            margin:0;
            padding:0;
        }
        ul {
            li {
                float:left;
                font-size:40px;
            }
        }
    }
}

//Main Layout

