
.header {
    background-color:$White;
    top: 0 !important;
    position: fixed !important;
    width: 100% !important;
    border:none;
    padding:20px 0 0 0;
    height:120px;
    z-index: 1000;
    @include transition(margin 0.3s ease);
    @include transition(height 0.3s ease);
    @include box-shadow(0 0 10px $boxShadow);
}
    .header.shrink {
        height:80px;
        padding:15px 0 0 0;
    }
.header .logo {
    float:left;
    @include transition(all 0.4s ease);
}
    .header.shrink .logo {
        height:50px;
        width:auto;
        @include transition(all 0.4s ease);
    }
.header .logo img {
    @include transition(all 0.4s ease);
    width:175px;
    height:80px;
}
    .header.shrink .logo img {
        height:50px;
        width:109px;
        @include transition(all 0.4s ease);
    }
.header .MastRight {
    float:right;
    margin-top:25px;
    @include transition(all 0.4s ease);
}
    .header.shrink .MastRight {
        margin-top:10px;
        @include transition(all 0.4s ease);
    }
.header .MastRight .icon-search {
    float:right;
    margin-left:20px;
    padding:5px;
    position:relative;
    top:-3px;
}
.header .MastRight .icon-search:before {
    padding:8px;
    @include transition(all 0.3s ease);
}
.header .MastRight .icon-search:hover:before {
    background-color:$DDGreen;
    color:$White;
}

/* Main Navigation Styles */
.header #nav, .header #nav > li {
    list-style-type:none;
}
.header #nav {
    float:right;
    margin-top:0;
}
.header #nav > li:before {
    display:none;
}
.header #nav > li {
    float:left;
}
.header #nav > li > a {
    color:$DDGray;
    font-size:18px;
    padding:5px 15px;
    margin-left:10px;
    @include transition(all 0.3s ease);
}
    .header #nav > li.active > a {
        border-bottom:1px solid $DDGreen;
        color:$DDGreen;
        font-weight:500;
    }
    .header #nav > li > a:hover,
    .header #nav > li > a:focus {
        color:$White;
        text-decoration:none;
        background-color:$DDGreen;
    }

/* Mobile Navigation */
.header .MenuIcon {
    background: url("/Sitefinity/WebsiteTemplates/DigitalDirection/App_Themes/DigitalDirection/Images/Icons/Menu.png") no-repeat scroll center center transparent;
    height: 40px;
    width: 40px;
    position: relative;
    top: -5px;
    cursor: pointer;
    margin-left: 20px;
    float: right;
}

    .MenuIcon span {
        display: none;
    }

.MobileNavContainer {
    width: 74%;
    position: absolute;
    right: -75%;
    top: 0;
    height: 100%;
    background-color: #fff;
    margin-bottom: -99999px;
    padding-bottom: 99999px;
    overflow: hidden;
    margin-left: -70%;
    box-sizing: border-box;
    @include transition(all 300ms cubic-bezier(0.42, 0, 0.58, 1) 0s);

    ul, ul li, ul > div, .userLog {
        list-style-type: none;
        display: block;
        clear: both;
        float: none;
        margin: 0;
        padding: 0;

        a, .userLog, .FooterLinks a {
            text-align: left;
            margin-bottom: -1px;
            border-bottom: 1px solid $DarkGreen;
            padding-bottom: 20px;
            padding-top: 20px;
            padding-left: 5%;
            padding-right: 5%;
            display: block;
            text-decoration: none;
            color: $White;
            background-color:$DDGreen;
            border-top: 1px solid $DarkGreen;
            font-weight:500;
        }
        li:first-child a {
            border-top:none;
        }
    }

        

.userLog {
    background-color: #f1f2f2;
    margin-top: -10px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom-width: 3px;
    span {
        font-weight: bold;
    }
}
}



        .MobileNavContainer.mslideout {
            right: 0;
            margin-right: 0;
            display: block !important;
        }

        .MobileNavContainer .dropdown {
            -moz-box-shadow: none;
            -webkit-box-shadow: none;
            -ms-box-shadow: none;
            box-shadow: none;
            display: block !important;
            left: 0;
            margin: 0;
            min-width: 0;
            position: relative;
            top: 0;
            z-index: 0;

            .dropdown:after {
                display: none !important;
            }
            li {
                clear: both;
                display: block;
                float: none;
                list-style-type: none;
                margin: 0;
                padding: 0;

                a, a:visited, a:link, a:hover {
                border-top: 1px solid $BorderColor;
                border-bottom: 1px solid $BorderColor;
                color: $MedGreen !important;
                display: block;
                margin-top: -1px;
                padding: 20px;
                text-align: left;
                text-decoration: none;
            }
            }
        }

/* Page Border Styles */
.PageBorder {
    width:100%;
    height:10px;
    background-color:$LightGray;
    display:block;
    position:absolute;
    top:120px;
    z-index:0;
}

/* Media Queries */
@media screen and (max-width:1060px){
    .header #nav > li > a {
        padding:5px 10px;
    }
}
@media screen and (max-width:1024px){
    .MainContainer > header.Sticky {
            z-index: 1000001;
        }
    .header {
        height:70px;
        padding:15px 0 0 0;
    }
    .header.shrink {
        height:60px;
        padding:15px 0 0 0;
    }
    .header .logo img {
        width:184px;
        height:38px;
    }
        .header.shrink .logo img {
            height:30px;
            width:109px;
            @include transition(all 0.4s ease);
        }
    .header .MastRight {
        margin-top:5px;
    }
        .header.shrink .MastRight {
            margin-top:0;
        }
    /* Mobile Navigation */
    .MobileNavContainer {
        display: none !important;
    }
    .mslideout + .MainContainer > header, .mslideout + .MainContainer .verticalsidebar {
            position: absolute !important;
            @include transition(all 300ms cubic-bezier(0.42, 0, 0.58, 1) 0s);
        }

    .header #nav {
        float: none;
        display:none;
    }

    /* Page Border Styles */
    .PageBorder {
        top:70px;
        height:8px;
    }
}
@media screen and (max-width:568px){
    .header, .header.shrink {
        height:50px;
        padding:10px 0 0 0;
    }
    .header .MastRight {
        margin-top:0px;
    }
        .header.shrink .MastRight {
            margin-top:0;
        }
    .header .logo img {
            height:30px;
            width:109px;
        }
    
    /* Page Border Styles */
    .PageBorder {
        top:50px;
        height:6px;
    }
}
@media screen and (max-width:400px){
    .header .MenuIcon {
        margin-left:10px;
    }
}