.CenterContent, .CenterContent.sf_cols.row {
    @include CenterContent();
}

#wrapper {
    overflow: hidden;
    width: 100%;
    position: relative;
}

hr {
    border-color:$LightBorderColor;
    margin-top:50px;
    margin-bottom:50px;
}

/* Mobile Styles */
.MobileOnly {
    display:none;
}

/* Media Queries */
@media screen and (max-width:1024px){
    .MobileOnly {
        display:block;
    }
    .MobileHide {
        display:none;
    }
    #wrapper {
        min-height:800px;
    }
    hr {
        margin-top:30px;
        margin-bottom:30px;
    }
}
@media screen and (max-width:568px){
    .CenterContent {
        @include MobileCenterContent();
    }
}
@media screen and (max-width:400px){
    body {
        overflow-x:hidden;
    }
}