//WG Variables
$WGPadding: 20px !global;
$WGMobilePadding: 10px !global;
$WGMaxWidth:1240px !global;

$WGBtnVPadding: 10px !global;
$WGBtnHPadding:30px !global;

$WGBtnRadius: 5px !global;

$MobileWGBtnVPadding: 5px !global;
$MobileWGBtnHPadding:20px !global;