header {
    .logo {
        display:inline-block;

        &.WG {
            font-family:$Museo;
            text-decoration:none;
            color:$WGPink;
            font-size:36px;
            font-weight:$Museo-Bold;
            text-align:center;

            span {
                clear:both;
                display:block;
                margin-top:5px;
                font-weight:$Museo-Bold;
                color:$WGRegularGray;
                font-size:15px;
                letter-spacing:.09em;
                padding-left:18px;
                padding-right:10px;

                em {
                    font-family: Verdana;
                }
            }
        }
    }
}