//Brand Colors
@import "branding/MNM/_MNM-colors";

//Project Colors
$White: #fff !global;
$Black: #000 !global;

$Green: $MNMGreen !global;
$LightGreen: lighten($MNMGreen, 25%) !global;
$MedGreen: darken($MNMGreen, 10%) !global;
$DarkGreen: darken($MNMGreen, 40%) !global;

$Blue: $MNMBlue !global;
$LightBlue: $MNMLightBlue !global;
$DarkBlue: darken($MNMBlue, 20%) !global;
$Highlight: $MNMLightBlue !global;