/* Tiles Styles */
.TilesContainer {
    .Tile {
        width: 22.5%;
        margin: 10px 1%;
        float: left;
        padding:15px;
        background-color:$MNMOverlay;

        .sf_colsOut {
            padding:0;
        }

        /* Facts Tile Styles */
        .Fact.sf_cols.row {
            background-color:$MNMMedBlue;
            text-align:center;
            font-size:20px;
            padding:20px 10px !important;
            margin:0 !important;
            margin-bottom:20px !important;
        }
        .Fact.sf_cols.row p {
            text-align:center;
            font-size:20px;
            margin-bottom:0 !important;
            margin-top:20px !important;
            margin-left: 0 !important;
            margin-right: 0 !important;
            color:$White;
        }
        .Fact.sf_cols.row .icon-Info:before,
        .Fact.sf_cols.row .fa:before {
            font-size:50px;
            position: relative;
            top: 0;
            left: 0;
            color: $White;
        
        }
    }
}

/* Tile/Fact Color Schemes */
.TilesContainer {
    margin-top:30px;
    .Tile.FactLightBlue {
        .Fact.sf_cols.row {
            background-color:$MNMBlue-Light;
        }
        .Fact.sf_cols.row .icon-Info:before,
        .Fact.sf_cols.row p {
            color:$White;
        }
    }
    .Tile.FactMedBlue {
        .Fact.sf_cols.row {
            background-color:$MNMBlue-Med;
        }
        .Fact.sf_cols.row .icon-Info:before,
        .Fact.sf_cols.row p {
            color:$White;
        }
    }
    .Tile.FactDarkBlue {
        .Fact.sf_cols.row {
            background-color:$MNMBlue-Dark;
        }
        .Fact.sf_cols.row .icon-Info:before,
        .Fact.sf_cols.row p {
            color:$White;
        }
    }
    .Tile.FactGreen {
        .Fact.sf_cols.row {
            background-color:$MNMGreen;
        }
        .Fact.sf_cols.row .icon-Info:before,
        .Fact.sf_cols.row p {
            color:$White;
        }
    }
    .Tile.FactLightGreen {
        .Fact.sf_cols.row {
            background-color:$MNMGreen-Light;
        }
        .Fact.sf_cols.row .icon-Info:before,
        .Fact.sf_cols.row p {
            color:$White;
        }
    }
    .Tile.FactMedGreen {
        .Fact.sf_cols.row {
            background-color:$MNMGreen-Med;
        }
        .Fact.sf_cols.row .icon-Info:before,
        .Fact.sf_cols.row p {
            color:$White;
        }
    }
    .Tile.FactBrightGreen {
        .Fact.sf_cols.row {
            background-color:$MNMGreen-Bright;
        }
        .Fact.sf_cols.row .icon-Info:before,
        .Fact.sf_cols.row p {
            color:$White;
        }
    }
}


/* Media Queries */
@media screen and (max-width:960px){
    .TilesContainer {
        .Tile {
            width:31%;
        }
    }
}
@media screen and (max-width:700px){
    .TilesContainer {
        .Tile {
            width:46.5%;
        }
    }
}
@media screen and (max-width:400px){
    .TilesContainer {
        .Tile {
            width:100%;
        }
    }
}