/* Futura PT */
/* For now this font is implemented with Typekit */
/*@font-face {
    font-family: 'robotoregular';
    src: url('Fonts/roboto-regular-webfont.eot');
    src: url('Fonts/roboto-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('Fonts/roboto-regular-webfont.woff') format('woff'),
         url('Fonts/roboto-regular-webfont.ttf') format('truetype'),
         url('Fonts/roboto-regular-webfont.svg#robotoregular') format('svg');
    font-weight: normal;
    font-style: normal;

}*/
/* Custom DD Icon Font */
@font-face {
  font-family: 'icomoon';
  src: url("../Fonts/icomoon.eot?hozce9");
  src: url("../Fonts/icomoon.eot?#iefixhozce9") format("embedded-opentype"), url("../Fonts/icomoon.woff?hozce9") format("woff"), url("../Fonts/icomoon.ttf?hozce9") format("truetype"), url("../Fonts/icomoon.svg?hozce9#icomoon") format("svg");
  font-weight: normal;
  font-style: normal; }
[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

a[class*="icon-"]:hover, a[class*="icon-"]:focus {
  text-decoration: none; }

.icon-WhitePapers-02:before {
  content: "\e606"; }

.icon-Print:before {
  content: "\e605"; }

.icon-Quote:before {
  content: "\e601"; }

.icon-Info:before {
  content: "\e602"; }

.icon-ReadMore:before {
  content: "\e603"; }

.icon-FeaturedReadMore:before {
  content: "\e604"; }

.icon-search:before {
  content: "\e600"; }

.icon-share2:before {
  content: "\ea82"; }

.icon-mail:before {
  content: "\ea83"; }

.icon-mail2:before {
  content: "\ea84"; }

.icon-mail3:before {
  content: "\ea85"; }

.icon-mail4:before {
  content: "\ea86"; }

.icon-google:before {
  content: "\ea87"; }

.icon-google-plus:before {
  content: "\ea88"; }

.icon-google-plus2:before {
  content: "\ea89"; }

.icon-google-plus3:before {
  content: "\ea8a"; }

.icon-google-drive:before {
  content: "\ea8b"; }

.icon-facebook:before {
  content: "\ea8c"; }

.icon-facebook2:before {
  content: "\ea8d"; }

.icon-facebook3:before {
  content: "\ea8e"; }

.icon-ello:before {
  content: "\ea8f"; }

.icon-instagram:before {
  content: "\ea90"; }

.icon-twitter:before {
  content: "\ea91"; }

.icon-twitter2:before {
  content: "\ea92"; }

.icon-twitter3:before {
  content: "\ea93"; }

.icon-feed2:before {
  content: "\ea94"; }

.icon-feed3:before {
  content: "\ea95"; }

.icon-feed4:before {
  content: "\ea96"; }

.icon-youtube:before {
  content: "\ea97"; }

.icon-youtube2:before {
  content: "\ea98"; }

.icon-youtube3:before {
  content: "\ea99"; }

.icon-youtube4:before {
  content: "\ea9a"; }

.icon-twitch:before {
  content: "\ea9b"; }

.icon-vimeo:before {
  content: "\ea9c"; }

.icon-vimeo2:before {
  content: "\ea9d"; }

.icon-vimeo3:before {
  content: "\ea9e"; }

.icon-lanyrd:before {
  content: "\ea9f"; }

.icon-flickr:before {
  content: "\eaa0"; }

.icon-flickr2:before {
  content: "\eaa1"; }

.icon-flickr3:before {
  content: "\eaa2"; }

.icon-flickr4:before {
  content: "\eaa3"; }

.icon-picassa:before {
  content: "\eaa4"; }

.icon-picassa2:before {
  content: "\eaa5"; }

.icon-dribbble:before {
  content: "\eaa6"; }

.icon-dribbble2:before {
  content: "\eaa7"; }

.icon-dribbble3:before {
  content: "\eaa8"; }

.icon-forrst:before {
  content: "\eaa9"; }

.icon-forrst2:before {
  content: "\eaaa"; }

.icon-deviantart:before {
  content: "\eaab"; }

.icon-deviantart2:before {
  content: "\eaac"; }

.icon-steam:before {
  content: "\eaad"; }

.icon-steam2:before {
  content: "\eaae"; }

.icon-dropbox:before {
  content: "\eaaf"; }

.icon-onedrive:before {
  content: "\eab0"; }

.icon-github:before {
  content: "\eab1"; }

.icon-github2:before {
  content: "\eab2"; }

.icon-github3:before {
  content: "\eab3"; }

.icon-github4:before {
  content: "\eab4"; }

.icon-github5:before {
  content: "\eab5"; }

.icon-wordpress:before {
  content: "\eab6"; }

.icon-wordpress2:before {
  content: "\eab7"; }

.icon-joomla:before {
  content: "\eab8"; }

.icon-blogger:before {
  content: "\eab9"; }

.icon-blogger2:before {
  content: "\eaba"; }

.icon-tumblr:before {
  content: "\eabb"; }

.icon-tumblr2:before {
  content: "\eabc"; }

.icon-yahoo:before {
  content: "\eabd"; }

.icon-tux:before {
  content: "\eabe"; }

.icon-apple:before {
  content: "\eabf"; }

.icon-finder:before {
  content: "\eac0"; }

.icon-android:before {
  content: "\eac1"; }

.icon-windows:before {
  content: "\eac2"; }

.icon-windows8:before {
  content: "\eac3"; }

.icon-soundcloud:before {
  content: "\eac4"; }

.icon-soundcloud2:before {
  content: "\eac5"; }

.icon-skype:before {
  content: "\eac6"; }

.icon-reddit:before {
  content: "\eac7"; }

.icon-linkedin:before {
  content: "\eac8"; }

.icon-linkedin2:before {
  content: "\eac9"; }

.icon-lastfm:before {
  content: "\eaca"; }

.icon-lastfm2:before {
  content: "\eacb"; }

.icon-delicious:before {
  content: "\eacc"; }

.icon-stumbleupon:before {
  content: "\eacd"; }

.icon-stumbleupon2:before {
  content: "\eace"; }

.icon-stackoverflow:before {
  content: "\eacf"; }

.icon-pinterest:before {
  content: "\ead0"; }

.icon-pinterest2:before {
  content: "\ead1"; }

.icon-xing:before {
  content: "\ead2"; }

.icon-xing2:before {
  content: "\ead3"; }

.icon-flattr:before {
  content: "\ead4"; }

.icon-foursquare:before {
  content: "\ead5"; }

.icon-paypal:before {
  content: "\ead6"; }

.icon-paypal2:before {
  content: "\ead7"; }

.icon-paypal3:before {
  content: "\ead8"; }

.icon-yelp:before {
  content: "\ead9"; }

.icon-file-pdf:before {
  content: "\eada"; }

.icon-IcoMoon:before {
  content: "\eaea"; }

/* Custom Parameters */
.icon-ReadMore {
  position: relative;
  top: 6px;
  left: -6px;
  font-size: 24px; }

a:hover .icon-ReadMore {
  text-decoration: none; }

/*# sourceMappingURL=TileStyles.css.map */
