
.footer {
    font-size:16px;
    margin-bottom:20px;
    min-height:50px;
    overflow:hidden;

    .FooterBorder {
        background: none repeat scroll 0 0 #fff;
        border-bottom: 1px solid $LightBorderColor;
        display: block;
        line-height: 1.5em;
        margin-bottom: 30px;
        padding-bottom: 15px;
        position: relative;
        width: 100%;
        border-top: none;
    }
    .FooterBorder::after {
        bottom: -1px;
        content: "";
        height: 10px;
        left: 2%;
        position: absolute;
        width: 96%;
        z-index: -1;
        @include box-shadow(0 0 6px 0 rgba(0, 0, 0, 0.3));
        @include css3-prefix('border-radius', '200px / 10px');
    }
    /* Footer Navigation */
    .FooterNav ul, .FooterNav ul li {
        list-style-type:none;
        margin:0;
        padding:0;
    }
    .FooterNav ul li {
        float:left;
        margin-right:20px;
        position:relative;
    }
    .FooterNav ul li:before {
        content: "|";
        display:block;
        position:absolute;
        top:-1px;
        right:-13px;
    }
    .FooterNav ul li:last-child:before {
        display:none;
    }
    #back-top {
        width: 40px;
        height: 40px;
        background: url('/Sitefinity/WebsiteTemplates/DigitalDirection/App_Themes/DigitalDirection/Images/Icons/ScrollToTop.png') center center no-repeat transparent;
        display: block;
        float: right;
        cursor: pointer;
        margin-top:10px;
        margin-left:-40px;
        z-index:100 !important;
        @include transition(display 0.5s ease-in-out);
        /*position:absolute !important;
        bottom:0 !important;
        right:20px;*/
    }
    #back-top.scroll-to-fixed-fixed {
        right: 20px !important;
        left: auto !important;
        margin-top:0;
        margin-left:0;
        /*bottom:20px !important;
        position:fixed !important;*/
    }
    #back-top span {
        display: none;
    }
    .FooterLeft {
        float:left;
    }
    .FooterRight {
        float:right;
    }
    .SocialMediaContainer {
            float: right;
            border-right: 1px solid $LightBorderColor;
            margin-right: 60px;
            margin-left:0;
            padding-top: 15px;
            padding-bottom: 15px;
            padding-right:20px;
            .sf_colsOut {
                padding:0;
                margin:0;
            }
            ul, ul li {
                list-style-type:none;
                padding:0;
                margin:0;
            }
            .sfContentBlock ul li {
                float:right;
                margin-left:10px;

                a {
                    background-color:$MedGreen;
                    float:right;
                    text-align:center;
                    color:$White;
                }
                a em {
                    padding:7px;
                }
                a span {
                    display:none;
                }
            }
            
        }
}

.MNMCopy {
    font-size:14px;
    margin-top:25px;

    span{
        margin-right:10px;
    }
    .hover, a:hover .normal {
        display:none;
        @include transition(all 0.4s ease);
    }
    a:hover .hover {
        display:inline-block;
        @include transition(all 0.4s ease);
    }
}
.FooterBannerContainer + .footer {
    margin-top:30px;
}
.FooterBannerContainer + .footer .FooterBorder {
    display:none;
}

/* Media Queries */
@media screen and (max-width:1024px){
    .footer {
        .FooterNav ul li {
            margin-right:30px;
        }
        .FooterNav ul li:before {
            right:-18px;
        }
        .SocialMediaContainer {
            margin-bottom:30px;
            .sfContentBlock ul li {
                float:right;
                margin-left:20px;

            }
        }
    }
}
@media screen and (max-width:768px){
    .footer {
        min-height:0;

        .MNMCopy {
            margin-top:10px;
        }
    }
    
}
@media screen and (max-width:568px){
    .footer {
        .SocialMediaContainer {
            border-right: none;
            margin-right: 0;
            margin-left:0;
            padding-top: 15px;
            padding-bottom: 0;
            padding-right:0;
            width: 130px;
            float: none;
            display: inline-block;
            margin-bottom: 10px;

            .sfContentBlock ul li {
                float:right;
                margin-left:0;
                margin-right:20px;

                a em {
                    padding:10px;
                }
            }
        }
        #back-top {
            margin-top:0;
            position:fixed !important;
            bottom:10px !important;
        }
        #back-top.scroll-to-fixed-fixed {
            right: 10px !important;
            bottom:10px !important;
        }
        .FooterLeft {
            width:100%;
            text-align:center;
        }
        .MNMCopy {
            clear:both;
            width:100%;
            text-align:center;
            border-top:1px solid $MedGray;
            padding-top:20px;
        }
    }
}
@media screen and (max-width:400px){
    .footer {
        .FooterLeft,
        .FooterRight {
            float:none;
            clear:both;
        }
        .SocialMediaContainer {
            margin-bottom:20px;
        }
    }
}