$TradeGothic: "tablet-gothic-condensed";

@mixin TradeGothicRegular(){
    font-family: $TradeGothic;
    font-weight:300;
}
@mixin TradeGothicBold(){
    font-family: $TradeGothic;
    font-weight:700;
}