$MNMBlue: #0d5cab !global;
$MNMDarkBlue: #08396c !global;
$MNMLightGreen: #67c53b !global;
$MNMGreen: #72c267 !global;
$MNMLightBlue: #199cf6 !global;
$MNMMedBlue: #2c7ccd !global;
$MNMOverlay: #256CB3 !global;

$PrimaryColor: $MNMBlue !global;